a{color:#FF6600;text-decoration:none}
a:hover{color:#FF3300;text-decoration: underline}
td{font-size: 12px; font-family: Tahoma}
body{background-color:#FF8A00;font-family:Tahoma}
.navbar_sub{background-color:#FBE8D3;border-left:1px solid #FFFFFF; border-right:1px solid #FFFFFF; border-bottom:1px solid #FFFFFF}
.navbar_main{font-family:Tahoma; font-size:12px}
.navbar_title{color: #FF8A00; font-weight: bold}
.navbar_subtitle{}
